*.sql

/bootstrap/compiled.php
/vendor
.idea/
/app/_ide_helpers.php
composer.phar
composer.lock
.env.local.php
.env.testing.php
.env.php
.env.testing.php
.DS_Store
Thumbs.db
sftp-config.json
app/config/mail.php
app/config/app.php
public/images/gs.jpg
app/views/time/entries.php
public/css/bootstrap.css
public/css/fullcalendar.css