body {color: #fff; background-color: #2B6A47;}

.delete {color: red;}
.delete:hover {text-decoration: none; color: red;}


.modal {color: #000;}

.row {max-width: 100%;}


.inventory .equipment {width: 300px; position: relative; padding-left: 35px !important;}
.inventory .equipment p {margin:0; padding: 0; font-size: 14px;}
.inventory .equipment .type {width:75px; text-align: center; position: absolute; top:45px; left: -25px; -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -o-transform: rotate(-90deg); filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}

.inventory .details {position: relative;}
.inventory .details .button {text-align: right;}

.filter {margin-top: 100px; padding-left: 25px;width: 225px;}

.stripe{background-color: #2B7A47;}

